* {
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr 30px;
  grid-gap: 5px;
}

nav {
  display: flex;
  flex-direction: row; /* default */
  justify-content: flex-start; /* default */
  height: 50px;
  background-color: #a2cbb6;
}

nav div {
  color: #f3dba8;
  font-size: 20px;
  margin: 10px;
}

nav > div:last-child {
  margin-left: auto;
}

aside {
  background-color: #a2b4da;
}

main {
  background-color: #f3dba8;
}

footer {
  background-color: #a2cbb6;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav, footer {
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-column: 1 / 3; */
}